---
import Baselayout from "../layouts/baselayout.astro";

import PrintFooter from "src/components/print-footer.astro";
import PostFooter from "src/components/post-footer.astro";

import Tags from "src/components/tags.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => {
    // const slug = post.data.postSlug || sanitizeString(post.data.title);
    // const slug = post.id;
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { slug } = Astro.params;
const { title, tags, pubDate, description, cover } = post.data;
const { Content } = await post.render();

import { CONFIG } from "@config";

const queryFilters = {
    tags: tags,
    posts: slug
}

const heading = "<p class='mt-base strong'>You might also be interested in the following posts</p>";

import Cover from "src/components/cover.astro";
---

<Baselayout title={title} description={description} >
  {(post.data.cover && post.data.cover.src && CONFIG.COVER == true) && (
    <Cover src={post.data.cover.src} alt={post.data.cover.alt || ''} />
  )}
  

  <article>
    <article-head>
      <h1>{title}</h1>
      <elt-meta
        ><elt-date
          >{
            post.data.pubDate.toLocaleDateString("en-GB", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }</elt-date
        >
        <Tags allPostTags = {tags} />
        </elt-meta>
      <h2 class="text-none">{description}</h2>

    </article-head>

    <Content />
    <PostFooter queryFilters={queryFilters} heading={heading} nbPosts={2}/>
  </article>
  <PrintFooter />

</Baselayout>
