---
import Tags from "src/components/tags.astro";
import Cover from "./cover.astro";

const { hasCover=false, url, title='', titleTag = 'h1', description='', descriptionTag = 'h2', pubDate, tags=[], coverSrc='', coverAlt='' } = Astro.props;

console.log(hasCover, url, title, 'coverSrc:', coverSrc, 'coverAlt:', coverAlt)

const Heading = titleTag;
const Description = descriptionTag;

const isoDate = pubDate && pubDate.toISOString();
const readableDate = pubDate && pubDate.toLocaleDateString("en-GB", {
  year: "numeric",
  month: "short",
  day: "numeric",
});

---
<header class="article-header">
    {url ? <Heading><a href={url}>{title}</a></Heading> : <Heading>{title}</Heading>}
    <article-meta>
      <article-date>
        {pubDate && <time datetime={isoDate}>{readableDate}</time>}       
      </article-date>
      <Tags allPostTags={tags} />
    </article-meta>
    {hasCover && <Cover src={coverSrc} alt={coverAlt} />}
    <Description class="text-none">{description}</Description>
</header>